@model BookExamples.Areas.Chapter08.Models.MyDb2Model.MyTable2

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MyTable2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RuXueShiJian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RuXueShiJian)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
