@model BookExamples.Areas.Chapter03.Models.MyStudentModel
@{
    var ajaxOptions = new AjaxOptions {UpdateTargetId = "bodyContent"};
    var c1 = new {@class = "col-md-2 control-label"};
    var c2 = new {@class = "form-control"};
}
@using (Ajax.BeginForm(ajaxOptions))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("学号",c1)
            <div class="col-md-6">@Html.TextBox("XueHao",null,c2)</div>
        </div>
        <div class="form-group">
            @Html.Label("姓名",c1)
            <div class="col-md-6">@Html.TextBox("XingMing",null,c2)</div>
        </div>
        <div class="form-group">
            @Html.Label("性别",c1)
            <div class="col-md-6">@Html.TextBox("XingBie",null,c2)</div>
        </div>
        <div class="form-group">
            @Html.Label("年龄",c1)
            <div class="col-md-6">@Html.TextBox("NianLing",null,c2)</div>
        </div>
        <div class="form-group">
            <div class="col-md-1 col-md-offset-4">
                <button class="btn btn-primary" id="btn1" type="submit">提交</button>
            </div>
        </div>
    </div>
}
<script>
    $("input").blur(function() {
        $("form").validate({
            rules: {
                XueHao: { required: true, rangelength: [3, 3] },
                XingMing: {
                    required: true,
                    minlength: 3,
                    maxlength: 16
                },
                NianLing: { required: true, min: 10, digits: true }
            },
            messages: {
                XueHao: {
                    required: "学号不能为空",
                    rangelength: "学号必须为3个字符"
                },
                XingMing: {
                    required: "姓名不能为空",
                    minlength: "姓名至少需要2个字符"
                },
                NianLing: {
                    required: "年龄不能为空",
                    min: "年龄不能小于10",
                    digits: "年龄必须是整数"
                }
            }
        });
    });
</script>
