@model IEnumerable<BookExamples.Areas.Chapter08.Models.MyDb2Model.MyTable1>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KeChengName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KeChengName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KeChengID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KeChengID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KeChengID })
        </td>
    </tr>
}

</table>
